{meta_dir, "./script/meta"}.
{emakefile, "./emakefile"}.
{meta_src, ets_meta_src}.
{meta_lib, ets_meta_lib}.
{meta_proto, ets_meta_proto}.
{app_dirs, ["./lib/app"]}.
{worker_num, 1}.
{lib_emake, [
    {
        [
            "./lib/*/src/*"
        ],
        [
            {i, "./lib/mysql-otp/include"},
            {i, "./lib/gbp/include"},
            {i, "./lib/gpb/src"},
            {outdir, "ebin"},
            {inline_size, 30},
            report,
            debug_info,
            warnings_as_errors,
            verbose
        ]
    }
]}.